<beans >
   <!-- <bean id="test2" class="tt.B" >
        <constructor type="tt.A" ref="test1" />
    </bean>

    <bean id="test1" class="tt.A">
        <constructor type="tt.B" ref="test2" />
    </bean>-->
   <bean class="tt.inr.AutowiredTest" />
   <bean id="y" class="tt.inr.AutowiredTest" />

</beans>